<!Doctype html>
<html>
<head>
	<title> Instaload </title>
	<meta name="description" content="Instagram Online Photo Downloader. Simple way to download Instagram pictures online from your browser.">
    <meta name="keywords" content="Download Instagram Photos online, download Instagram pictures, save instagram pictures from browser">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style type="text/css">
    	.container{
			text-align: center;
			margin: 0 auto;
			width: 500px;
			padding-top: 20%;
		}
    </style>
</head>
<body>
	<div class="container">
		<p><b>Download Instagram HD Photos (Full size): right click > save image </b></p>
		<form action="{% url 'download' %}" method="POST" class="form-horizontal">
		{% csrf_token %}
			<div class="form-group">
			    <input type="url" id="input" class="form-control" name="iurl" placeholder="Image Link Goes here" autocomplete="off" required><br>
				<input type="submit" value="SUBMIT" class="btn btn-primary btn-lg">
		    </div>
		</form>
	</div>
</body>
</html>